.bg-none{
    background-image: none;
}
.text-line-through {
    text-decoration: line-through;
}
.mainLogo{
    background-image: url('~@/assets/img/tiny/suzuki-bigLogo.jpg');
    width: 150px;
    background-position: center center;
    background-size: cover;
}
.carousel-item img{
    aspect-ratio: 1 / 1; 
    width: 100%;
    object-fit: contain;
    object-position: center;
    @media(min-width:768px) {
        width: 40%;
    }
}
.carousel-indicators{
    position:unset;
}
.carousel-indicators li{
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    text-indent: unset;
}
.carousel-indicators .active{
    font-size: 2rem;
}
.motoAddCart{
  position: relative;
  z-index: 10;
  .btn {
      padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
.introTitle{
    font-size: 0.75rem;
}
.introContent{
    font-size: 1.25rem;
    font-weight: bold;  
}
.switch {
    opacity: 0;
    transform: translateY(20px);
    transition-duration: 0s;
}
.switchIn {
    opacity: 1 !important;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: 1s;
}
